<div class="addGroup contents-container">
  <div><h1>Create New Group Page</h1></div>
  <hr />
  <!-- Order Details -->
   <div>
     <h3>Purchase Details</h3>
    <!-- inputs here -->
     <form name="addGroupForm" >
      <h4>Purchase</h4>
      <input type="number" ng-model="group.price" placeholder="Price">
      <input type="text" ng-model="group.purchaseName" placeholder="Description ">


      
    </div>

    
    </div>



  <!-- Add item here -->

  


     
    
    <div><a ng-click = "addGroup()" class="btn btn-primary btn-sm active">Add Group</a></div>  <!--runs the add group methid which then returns you back via redirect-->
  </form>
</div>
