<!-- group view for mygroup -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href="/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/fonts.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
	<h1>My Groups</h1>
    <div id="mygroupsback">
      <div class="mygroup contents-container">
        <div id="mgroupstable">
          <table class="table table-hover">
            <thead>
              <tr class="header">
                <th>Group Name</th>
                <th>Location</th>
                <th>Date</th>
                <th></th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr class="group" ng-repeat="group in data.groups | orderBy:'due_at' | filter:search">
                <td ng-click="displayDetail(this.group._id)" cursor: pointer>{{ group.name }}</td>
                <td ng-click="displayDetail(this.group._id)" cursor: pointer>{{ group.description }}, {{ group.location_address.state }}</td>
                <td ng-click="displayDetail(this.group._id)" cursor: pointer><span am-time-ago="group.due_at"></span></td>
                <td><a ng-click="deleteGroup(this.group._id, $index)" class="btn btn-primary btn-sm active">Delete Group</a></td>
                <td><a ng-click="addUser(this.group._id)" class="btn btn-primary btn-sm active">Add Group</a></td>
              </tr>
            </tbody>
          </table>
        </div>
          <div><a href='#/createnewgroup' class="btn btn-primary btn-sm active">Add Group</a></div>
          <div><a ng-click = "showallZ()" class="btn btn-primary btn-sm active"> show all groupst?</a></div>
        </div>
        <!-- <pre>{{ displayGroup.name }}</pre> -->
      </div>
      </div>




    </div>
</body>
</html>