<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href="/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/fonts.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Event Keeper</a></h1>
		</div>
	</div>
	<div id="banner" class="container">
		<div class="title">
			<div class="signin-outer">
				<div class="signin-inner">
				  <form name="signin-form" ng-submit="signin()">
					<h3>Email</h3>
					<div class="signin-field"><input type="email" ng-model="user.email" style="color: black; font-size: 15px; width: 250px; height: 25px"></div>
					<h3>Password</h3>
					<div class="signin-field"><input type="password" ng-model="user.password" style="color: black; font-size: 15px; width: 250px; height: 25px"></div>
					<button>Sign In</button>
				  </form>
				</div>
			  </div>
		</div>
		<ul class="actions">
			<li><a href="#/signup" class="button">Want to start searching for groups? <strong>Signup Here!</strong></a></li>
		</ul>
	</div>
</div>
<div id="wrapper">
	<div id="three-column" class="container">
		<div class="title">
			<h2>Our Mission</h2>
		</div>
		<div class="boxA">
			<p> </p>
		</div>
		<div class="boxB">
			<p>College can be very overwhelming at first but also has so many opportunities.
				With the large abundance of clubs and organizations, there is a lot to keep track of.
				Our application will help any student keep track of all of their clubs/organizations and the events that they are holding.
			</p>
		</div>

	</div>
</div>
<div id="copyright" class="container">
	<p>Copyright &copy; Knight Solutions Inc. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>