<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href="/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/fonts.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div id="header-wrapper">
        <div id="header" class="container">
            <div id="logo">
                <h1><a href="#">Event Keeper</a></h1>
              </div>
            <div class="signup-outer">
                <div class="signup-inner">
                  <form name="signup-form" ng-submit="signup()">
                    <div class="signup-field"><input type="email" ng-model="user.email" placeholder="Email" style="color: black"></div>
                    <div class="signup-field"><input type="text" ng-model="user.name.first" placeholder="First Name" style="color: black"></div>
                    <div class="signup-field"><input type="text" ng-model="user.name.last" placeholder="Last Name" style="color: black"></div>
                    <div class="signup-field"><input type="password" ng-model="user.password" placeholder="Password" style="color: black"></div>
                    <div class="signup-field"><input type="text" ng-model="user.address.street" placeholder="Street Address" style="color: black"></div>
                    <div class="signup-field"><input type="text" ng-model="user.address.city" placeholder="City" style="color: black"></div>
                    <div class="signup-field"><input type="text" ng-model="user.address.state" placeholder="State" style="color: black"></div>
                    <div class="signup-field"><input type="number" ng-model="user.address.zip_code" placeholder="ZIP" style="color: black"></div>
                    <button class="signin-button">Sign Up</button>
                  </form>
                  <div>
                    <a href="#/signin" style="color: white">Already have an account? <strong>Sign In</strong>...</a>
                  </div>
                </div>
              </div>
        </div>  
    </div>
</div>
<div id="wrapper">
  
</div>
<div id="copyright" class="container">
	<p>Group 14 &copy; 2019</p>
</div>
</body>
</html>